body {
    background: linear-gradient(to right, #e94e77, #2596be);
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

header a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

.active {
    color: #e94e77;
}